
  <table width="100%" height="100%" bgcolor="#f6f4f5" cellpadding="0" cellspacing="0" style="margin:0; padding:0; ">
 <tbody>
 <tr>
 <td valign="top" >
 <!--Container start-->
  <table width="740"  align="center" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" style="margin:0 auto; border-top:30px solid #f6f4f5; border-bottom:30px solid #f6f4f5; background-color:#FFFFFF;">
 <tbody>
 <!--header-->
 <tr>
 <td  bgcolor="#FFFFFF" width="700"  style="padding-left:20px; padding-right:20px;">
 <table width="700" cellpadding="0" cellspacing="0" style="margin:0; padding:0; border-top:15px solid #ffffff;">
 <tbody>
 <tr>
 <td align="left" width="130" height="46">
 <a href="http://www.chemscene.com" target="_blank">
 <img src="cid:ewen" width="130" height="46" border="0" alt="www.MedChemExpress" style="display:block; border:0;"/>
  </a>
 </td>
 <td align="right" height="46" valign="bottom">
 <p style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#FF7F00;">Bioactive Molecules, Building Blocks, Intermediates</p>
  <p style="margin:0; padding:0; padding-top:5px; font-family:Arial, Helvetica, sans-serif; font-size:12px; ">
   <span style="color:#CCC;">——</span> <span style="color:#666666;">www.ChemScene.com</span>
 </p>
 </td>
 </tr>
 </tbody>
  </table>
  </td>
 </tr>
 <!--title-->
 <tr>
  <td  bgcolor="#FFFFFF" width="700" height="60" align="center" valign="middle"  style="padding-left:20px; padding-right:20px; ">
  <span style="font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; color:#333;">Order Confirmation</span>
 </td>
 </tr>
 <!--text-->
 <tr>
 <td width="700" valign="top" style="background:#FFFFFF; padding-left:20px; padding-right:20px;">
 <table style="width:700px; margin:0; padding:0; border:0; border-collapse:collapse; border-spacing:0; color:#000;">
 <tr>
 <td height="28" valign="top" style="width:300px; font-size:12px; margin:0; padding:0; font-weight:bold;font-family:Arial, Helvetica, sans-serif; ">
Dear {#CName},
 </td>
  <td height="28" valign="top" style=" font-family:Arial, Helvetica, sans-serif; width:400px; font-size:12px; text-align:right; font-weight:bold; ">
   </td>
  </tr>
  </table>
  </td>
  </tr>
  <tr>
  <td width="700" valign="top" style="background:#FFFFFF; padding-left:20px; padding-right:20px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333; ">
 Thank you for your order at ChemScene. This is the confirmation for your recent order. We will process it as soon as possible.
 </td>
 </tr>
  <tr>
  <td width="700" valign="top" style="background:#FFFFFF; padding-left:20px; padding-right:20px; line-height:22px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">
  If you require further assistance, please do not hesitate to contact us at <span style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FF7F00; ">732-484-9848</span> or via email <span style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FF7F00;">sales@ChemScene.com</span>.
  </td>
  </tr>
  <tr>
  <td width="700" valign="top" style="background:#FFFFFF; padding-left:20px; padding-right:20px; line-height:22px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">
  Your questions and comments are important to us.
  </td>
  </tr>
  <!--Customer Contact Information-->
  <tr>
  <td width="700" style="background:#FFFFFF; padding-left:20px; padding-right:20px; border-top:15px solid #FFF;">
 <fieldset style="width:670px; border:1px solid #CCC; padding:0; padding-left:15px; padding-right:15px;">
  <legend><strong style="color:#333; font-size:14px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; ">Customer Contact Information</strong></legend>
  <table width="670" cellpadding="0" cellspacing="0" style="margin:0; padding:0;">
  <tr>
 <td>
 <table width="670" cellpadding="0" cellspacing="0" style="margin:0; padding:0; border-top:10px solid #FFF;">
 <tr>
 <td width="45" height="25" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">Name: </td>
 <td width="290" height="25" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">{#ShipNAme}</td>
 <td width="90" height="25"  valign="top" style=" font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">Email address:  </td>
 <td width="245" height="25" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">{#ShipEmail}</td>
 </tr>
  <tr>
  <td height="26" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">Date: </td>
 <td height="26" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">{#ShipDate}</td>
 <td height="26" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">Phone number: </td>
  <td height="26" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">{#ShipPNo}</td>
  </tr>
 <tr>
<td height="26" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">PO No.: </td>
 <td height="26" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">{#ShipPo}</td>
 <td height="26" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">Invoice No.:</td>
 <td height="26" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">{#ShipINNo}</td>
</tr>
 </table>
 </td>
 </tr>
 <tr>
 <td style="border-top:1px solid #CCC;">
 <table width="670" cellpadding="0" cellspacing="0" style="margin:0; padding:0; border-top:10px solid #FFF;">
  <tr>
  <td width="110" height="25" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;line-height:20px; padding-bottom:8px;">
  Shipping Address:
  </td>
  <td width="560" height="25" valign="top" style=" font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;line-height:20px; padding-bottom:8px;">
{#ShipAddress}
    </td>
  </tr>
  </table>
  </td>
 </tr>
 <tr>
 <td style="border-top:1px solid #CCC;">
 <table width="670" cellpadding="0" cellspacing="0" style="margin:0; padding:0; border-top:10px solid #FFF; ">
  <tr>
  <td width="130" height="25" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">
  Invoice contact name:
  </td>
 <td width="540" height="25" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">{#BillName}</td>
 </tr>
 </table>
 </td>
 </tr>
 <tr>
 <td>
 <table width="670" cellpadding="0" cellspacing="0" style="margin:0; padding:0; ">
 <tr>
 <td width="95" height="25" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">
 Phone number:
  </td>
  <td width="240" height="25" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">{#BillPNo}</td>
  <td width="90" height="25" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">
 Email address:
 </td>
 <td width="245" height="25" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">{#BillEmail}</td>
  </tr>
  </table>
  </td>
 </tr>
 <tr>
  <td>
  <table width="670" cellpadding="0" cellspacing="0" style="margin:0; padding:0;">
  <tr>
 <td width="95" height="25" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;line-height:20px; padding-bottom:8px;">
  Billing address:
  </td>
 <td width="575" height="25" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;line-height:20px; padding-bottom:8px;">
{#BillAddress}
  </td>
  </tr>
  </table>
  </td>
  </tr>
  <tr>
  <td style="border-top:1px solid #CCC;">
  <table width="670" cellpadding="0" cellspacing="0" style="margin:0; padding:0; border-top:10px solid #FFF; border-bottom:12px solid #FFF;">
  <tr>
 <td width="60" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">
 Remarks:
 </td>
  <td width="610" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">{#Note}</td>
  </tr>
  </table>
  </td>
  </tr>
  </table>
  </fieldset>
  </td>
  </tr>
  <!--Order Information-->
  <tr>
  <td width="700" style="background:#FFFFFF; padding-left:20px; padding-right:20px; border-top:20px solid #FFF;">
 <fieldset style="width:670px; border:1px solid #CCC; padding:0; padding-left:15px; padding-right:15px;">
  <legend><strong style="color:#333; font-size:14px; font-weight:bold; font-family:Arial, Helvetica, sans-serif;">Order Information</strong></legend>
 <table width="670" cellpadding="0" cellspacing="0" style="margin:0; padding:0; border-top:10px solid #FFF; border-bottom:10px solid #FFF; ">
 <tr>
 <td>
 <table width="670" cellpadding="0" cellspacing="0" style="margin:0; padding:0; border-bottom:3px solid #FFF;">
 <tr>
 <td valign="top" width="100" height="25" style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:12px; color:#333;">Cat. No.</td>
 <td valign="top" width="320" height="25" style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:12px; color:#333;">Product name</td>
 <td valign="top" width="90" height="25" style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:12px; color:#333;">Size</td>
 <td valign="top"  width="85" height="25" align="center" style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:12px; color:#333;">Qty</td>
 <td valign="top" width="75" height="25" style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:12px; color:#333;">Amount</td>
  </tr>
{#OrderInfo}
 </table>
 </td>
  </tr>
  <tr>
  <td style="border-top:1px solid #CCC;">
  <table width="670" cellpadding="0" cellspacing="0" style="margin:0; padding:0; border-top:10px solid #FFF;">
  <tr>
  <!--如果FedEx账号为空，前两个td里面写 &nbsp;-->
  <td width="318" height="25" valign="top" align="right" style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:12px; color:#333;">{#FedexAc}</td>
 <td width="15" height="25" valign="top" style="font-family:Arial, Helvetica, sans-serif;  font-size:12px; color:#333;">&nbsp;</td>
 <td width="95" height="25" valign="top" style="font-family:Arial, Helvetica, sans-serif;  font-size:12px; color:#333;">{#FedexAccount}</td>
  <td width="142" height="25" valign="top" align="right" style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:12px; color:#333;">Shipping & handling:</td>
 <td  height="25" valign="top" style="padding-left:25px;font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">${#Sh}</td>
 </tr>
 </table>
 </td>
 </tr>
 <tr>
 <td>
  <table width="670" cellpadding="0" cellspacing="0" style="margin:0; padding:0; ">
  <tr>
 <td width="568" height="25" valign="top" align="right" style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:12px; color:#333;">Coupon:</td>
  <td height="25" valign="top" style="padding-left:28px;font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">-$0.00</td>
  </tr>
 </table>
  </td>
 </tr>
 <tr>
 <td style="border-top:1px solid #CCC;">
 <table width="670" cellpadding="0" cellspacing="0" style="margin:0; padding:0; border-top:10px solid #FFF;">
 <tr>
 <td valign="top" width="570" height="24" align="right" style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:14px; color:#333;">
 Total:
  </td>
 <td valign="top" height="24" style="padding-left:26px;font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:14px; color:#FF7F00; ">${#Total}</td>
 </tr>
  </table>
  </td>
 </tr>
 </table>
 </fieldset>
 </td>
 </tr>
{#PaymentMethod}
 <!--contact_us-->
 <tr>
 <td  bgcolor="#FFFFFF" width="482" valign="top" style="  padding:0; padding-left:20px; padding-right:20px;">
 <table width="482" cellpadding="0" cellspacing="0" style="margin:0; padding:0;border-top:15px solid #FFF; border-bottom:18px solid #FFF;">
 <tbody>
<tr>
<td width="1" height="52" valign="top">
 </td>
 <td width="482" height="52" valign="top">
 <table width="482" cellpadding="0" cellspacing="0" style="margin:0; padding:0;">
 <tbody>
 <tr>
 <td height="10" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:12px; color:#333;  ">
</td>
 </tr>
 <tr>
 <td height="25" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:12px; color:#333; ">
 ChemScene LLC
</td>
 </tr>
<tr>
 <td height="9" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; margin:0; padding:0; border-top:1px solid #CCC; ">
 </td>
 </tr>
 <tr>
 <td valign="middle" height="22">
 <table width="482" cellpadding="0" cellspacing="0" style="margin:0; padding:0; border:0;">
<tbody>
 <tr>
 <td valign="middle" height="22" width="150" style="line-height:22px; font-family:Arial, Helvetica, sans-serif;font-size:12px; color:#333;">
 <span style="font-weight:bold;">Tel:</span>  732-484-9848
 </td>
<td valign="middle" height="22" width="150" style="line-height:22px; font-family:Arial, Helvetica, sans-serif;font-size:12px; color:#333;">
<span style="font-weight:bold;">Fax:</span> 888-484-5008
</td>
<td valign="middle" height="22" width="182" style="line-height:22px; font-family:Arial, Helvetica, sans-serif;font-size:12px; color:#333;">
 <span style="font-weight:bold;">E-mail:</span> sales@ChemScene.com
</td>
</tr>
 </tbody>
 </table>
 </td>
 </tr>
 <tr>
 <td height="15" valign="bottom" style="font-family:Arial, Helvetica, sans-serif;font-size:12px; color:#333;">
<span style="font-weight:bold;">Address:</span>  1 Deer Park Dr, Suite Q, Monmouth Junction, NJ 08852, USA
</td>
 </tr>
 </tbody>
 </table>
 </td>
</tr>
</tbody>
</table>
</td>
</tr>
<!--footer-->
 <tr>
<td align="center" bgcolor="#f6f4f5">
<table width="700" cellpadding="0" cellspacing="0" style="margin:0; padding:0;">
<tbody>
<tr><td height="20">&nbsp;</td></tr>
<tr>
 <td valign="top" align="center" style=" padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#FF7F00; line-height:21px; text-align:center;">Products are chemical reagents for research use only and are not intended for human use. We do not sell to patients.</td>
 </tr>
 <tr><td height="12" style="height:12px; font-size:1px;">&nbsp;</td></tr>
 <tr>
 <td valign="top" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#999999; line-height:21px; text-align:center;">
 This e-mail transmission is a confidential, private, and legally privileged communication intended solely for the use of the addressed party. Unauthorized use of this communication and any files transmitted with it is prohibited and is unlawful. If you have received this e-mail in error, please notify the sender and delete it immediately.
 </td>
 </tr>
<tr><td height="12" style="height:12px; font-size:1px;">&nbsp;</td></tr>
 <tr>
 <td valign="top" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#999999; line-height:21px; text-align:center;">
  *** This email was an automatically-generated message. Please don't reply directly to e-mail message. If you have any questions, please contact us via email at <a href="mailto:sales@ChemScene.com" target="_blank" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FF7F00; text-decoration:none; ">sales@ChemScene.com</a>.
  </td>
 </tr>
 </tbody>
 </table>
 </td>
 </tr>
 </tbody>
 </table>
 <!--Container end-->
 </td>
 </tr>
 </tbody>
  </table>
