
 <table width="100%" height="100%" bgcolor="#f6f4f5" cellpadding="0" cellspacing="0" style="margin:0; padding:0; ">
 <tbody>
 <tr>
 <td valign="top">
 <!--Container start-->
<table width="740"  align="center" cellpadding="0" cellspacing="0" style="margin:0 auto; border-top:30px solid #f6f4f5; border-bottom:30px solid #f6f4f5;background-color:#FFFFFF;">
 <tbody>
 <!--header-->
 <tr>
<td  bgcolor="#FFFFFF" width="700"  style="padding-left:20px; padding-right:20px;">
 <table width="700" cellpadding="0" cellspacing="0" style="margin:0; padding:0; border-top:15px solid #ffffff;">
 <tbody>
 <tr>
 <td align="left" width="130" height="46">
 <a href="http://www.MedChemExpress.com" target="_blank">
  <img src="cid:ewen" width="130" height="46" border="0" alt="www.MedChemExpress" style="display:block; border:0;"/>
 </a>
 </td>
 <td align="right" height="46" valign="bottom">
 <p style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#6a4b92;">Inhibitors, Agonists, Screening Libraries</p>
  <p style="margin:0; padding:0; padding-top:5px; font-family:Arial, Helvetica, sans-serif; font-size:12px; ">
 <span style="color:#CCC;">¡ª¡ª</span> <span style="color:#666666;">www.MedChemExpress.com</span>
 </p>
 </td>
 </tr>
 </tbody>
 </table>
 </td>
 </tr>
 <!--title-->
 <tr>
 <td  bgcolor="#FFFFFF" width="700" height="60" align="center" valign="middle"  style="padding-top:0; padding-bottom:0; padding-left:20px; padding-right:20px; font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; color:#333;">&nbsp;</td>
  </tr>
 <!--text-->
 <tr>
  <td  bgcolor="#FFFFFF" width="700" height="24" valign="top" style="padding-top:0; padding-left:20px; padding-right:20px; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#333;">
 Dear {#CName},
 </td>
 </tr>
 <tr>
 <td  bgcolor="#FFFFFF" width="700" height="22" valign="top" style="padding-bottom:0; padding-left:20px; padding-right:20px;font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">
Please see the attached Invoice file. If you have any questions about your order or invoice, please feel free to contact us at
 </td>
<tr>
 <td  bgcolor="#FFFFFF" width="700" height="44" valign="top" style="padding-top:0; padding-bottom:0; padding-left:20px; padding-right:20px; line-height:22px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">
 <span style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ff6600; ">609-228-6898</span> or via email <span style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ff6600;">sales@MedChemExpress.com</span>. We kindly ask that you submit your remittance according to our net-30 day payment policy.
 </td>
 </tr>
<!--regards-->
 <tr>
 <td  bgcolor="#FFFFFF" width="700" height="25">&nbsp;</td>
</tr>
<tr>
<td  bgcolor="#FFFFFF" width="700" height="22" valign="top" style=" padding:0; padding-left:20px; padding-right:20px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">
Best regards,
 </td>
 </tr>
 <tr>
 <td  bgcolor="#FFFFFF" width="700" height="22" valign="top" style=" padding:0; padding-left:20px; padding-right:20px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">
 MedChemExpress Sales Team
  </td>
  </tr>
  <!--contact_us-->
  <tr>
  <td  bgcolor="#FFFFFF" width="482" valign="top" style="  padding:0; padding-left:20px; padding-right:20px;"><table width="482" cellpadding="0" cellspacing="0" style="margin: 0px 0px 0px 2px; padding:0;border-top:15px solid #FFF; border-bottom:18px solid #FFF;">
  <tbody>
  <tr>
  <td width="1" height="52" valign="top"></td>
  <td width="482" height="52" valign="top"><table width="482" cellpadding="0" cellspacing="0" style="margin:0; padding:0;">
  <tbody>
  <tr>
  <td height="10" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:12px; color:#333;  "></td>
  </tr>
  <tr>
 <td height="25" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:12px; color:#333; "> MedChemExpress USA  </td>
 </tr>
 <tr>
 <td height="1" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; margin:0; padding: 0px 0px 7px; border-top:1px solid #CCC;font-size:0px; ">1233</td>
 </tr>
 <tr>
 <td valign="middle" height="22"><table width="541" cellpadding="0" cellspacing="0" style="margin:0; padding:0; border:0;">
 <tbody>
 <tr>
 <td valign="middle" height="22" width="150" style="line-height:22px; font-family:Arial, Helvetica, sans-serif;font-size:12px; color:#333;"><span style="font-weight:bold;">Tel:</span> 609-228-6898 </td>
 <td valign="middle" height="22" width="150" style="line-height:22px; font-family:Arial, Helvetica, sans-serif;font-size:12px; color:#333;"><span style="font-weight:bold;">Fax:</span>  609-228-5909</td>
 <td valign="middle" height="22" width="195" style="line-height:22px; font-family:Arial, Helvetica, sans-serif;font-size:12px; color:#333;"><span style="font-weight:bold;">E-mail:</span> sales@MedChemExpress.com </td>
</tr>
 </tbody>
 </table></td>
 </tr>
  <tr>
 <td height="15" valign="bottom" style="font-family:Arial, Helvetica, sans-serif;font-size:12px; color:#333;"><span style="font-weight:bold;">Address:</span> 1 Deer Park Dr, Suite Q, Monmouth Junction, NJ 08852, USA</td>
 </tr>
 </tbody>
 </table></td>
</tr>
</tbody>
</table></td>
 </tr>
<!--footer-->
 <tr>
<td align="center" bgcolor="#f6f4f5">
 <table width="700" cellpadding="0" cellspacing="0" style="margin:0; padding:0;">
 <tbody>
<tr><td height="20">&nbsp;</td></tr>
<tr>
<td valign="top" align="center" style=" padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#6a4b92; line-height:21px; text-align:center;">Products are chemical reagents for research use only and are not intended for human use. We do not sell to patients.</td>
</tr>
<tr><td height="12" style="height:12px; font-size:1px;">&nbsp;</td></tr>
 <tr>
 <td valign="top" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#999999; line-height:21px; text-align:center;">
 This e-mail transmission is a confidential, private, and legally privileged communication intended solely for the use of the addressed party. Unauthorized use of this communication and any files transmitted with it is prohibited and is unlawful. If you have received this e-mail in error, please notify the sender and delete it immediately.
</td>
</tr>
<tr><td height="12" style="height:12px; font-size:1px;">&nbsp;</td></tr>
<tr>
<td valign="top" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#999999; line-height:21px; text-align:center;">
 *** This email was an automatically-generated message. Please don't reply directly to e-mail message. If you have any questions, please contact us via email at <a href="mailto:sales@medchemexpress.com" target="_blank" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ff6600; text-decoration:none; ">sales@MedChemExpress.com</a>.
 </td>
 </tr>
 </tbody>
</table>
 </td>
 </tr>
 </tbody>
 </table>
 <!--Container end-->
</td>
</tr>
 </tbody>
 </table>
