
<table width="100%" height="100%" bgcolor="#f6f4f5" cellpadding="0" cellspacing="0" style="margin:0; padding-top:0; ">
 <tbody>
 <tr>
 <td valign="top" width="740" align="center" >
  <!--Container start-->
 <table width="740"  align="center" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" style="margin:0 auto; border-top:30px solid #f6f4f5; border-bottom:30px solid #f6f4f5; background-color:#FFFFFF;">
   <tbody>
  <!--header-->
  <tr>
   <td  bgcolor="#FFFFFF" width="700"  style="padding-left:20px; padding-right:20px;">
   <table width="700" cellpadding="0" cellspacing="0" style="margin:0; padding:0; border-top:15px solid #ffffff;">
     <tbody>
    <tr>
    <td align="left" width="130" height="46">
    <a href="http://www.MedChemExpress.com" target="_blank">
 <img src="cid:ewen" width="130" height="46" border="0" alt="www.MedChemExpress" style="display:block; border:0;"/>
  </a>
</td>
 <td align="right" height="46" valign="bottom">
  <p style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#6a4b92;">Inhibitors, Agonists, Screening Libraries</p>
  <p style="margin:0; padding:0; padding-top:5px; font-family:Arial, Helvetica, sans-serif; font-size:12px; ">
  <span style="color:#CCC;">¡ª¡ª</span> <span style="color:#666666;">www.MedChemExpress.com</span>
 </p>
 </td>
</tr>
 </tbody>
</table>
</td>
 </tr>
<!--title-->
<tr>
 <td  bgcolor="#FFFFFF" width="700" height="60" align="center" valign="middle"  style="padding-left:20px; padding-right:20px; ">
<span style="font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; color:#333;">Payment Reminder</span>
</td>
</tr>
<!--text-->
<tr>
<td width="700" valign="top" style="background:#FFFFFF; padding-left:20px; padding-right:20px;">
 <table style="width:700px; margin:0; padding:0; border:0; border-collapse:collapse; border-spacing:0; color:#000;">
<tr>
<td height="28" valign="top" style="width:300px; font-size:12px; margin:0; padding:0; font-weight:bold;font-family:Arial, Helvetica, sans-serif;" align="left">Dear Accounts Payable,
</td>
<td height="28" valign="top" style=" font-family:Arial, Helvetica, sans-serif; width:400px; font-size:12px; text-align:right; font-weight:bold; ">
</td>
</tr>
 </table>
 </td>
</tr>
 <tr>
    <td width="700" valign="top" style="background:#FFFFFF; padding-left:20px; padding-right:20px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;line-height: 22px;text-align: justify" align="left">Thank you for trusting MCE as your research partner. This is a friendly reminder that the following invoice is now overdue.
 </td>
</tr>
<tr>
<td width="700" valign="top" style="background:#FFFFFF; padding-left:20px; padding-right:20px; line-height:22px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;text-align: justify;">If you haven't made a payment yet, please send your payment as soon as possible.
</td>
</tr>
<!--Customer Contact Information-->
<tr>
<td bgcolor="#FFFFFF" width="700" valign="top" style="padding-left: 0;padding-right: 0;padding-bottom: 0;padding-top: 0; padding-left:20px;padding-top: 12px; padding-right:20px;">
 <table width="700" cellpadding="0" cellspacing="0" style="margin: 0px 0px 0px 0px; padding:0;font-family:Arial, Helvetica, sans-serif;font-size:12px;border: 1px solid #cccccc;">
<tbody>
<tr>
<td valign="top" align="center">
 <table width="700" cellpadding="0" cellspacing="0" bgcolor="#f7f8f8" style="margin-top:0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;">
 <tr>
<th valign="middle" width="235" height="39" align="left" style="padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 15px; font-family:Arial, Helvetica, sans-serif; font-size:12px;">PO No.</th>
<th valign="middle" width="135" height="39" align="left" style="padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; font-family:Arial, Helvetica, sans-serif; font-size:12px;">Invoice No.</th>
<th valign="middle" width="130" height="39" align="right" style="padding-top: 0; padding-right: 45px; padding-bottom: 0; padding-left: 0; font-family:Arial, Helvetica, sans-serif; font-size:12px;">Invoice Amount</th>
<th valign="middle" width="125" height="39" align="left" style="padding-top: 0; padding-right: 15px; padding-bottom: 0; padding-left: 0; font-family:Arial, Helvetica, sans-serif; font-size:12px;">Payment Due Date</th>
</tr>
</table>
</td>
</tr>
</tbody>
<tbody>
<tr>
<td valign="top" align="center" >
<table width="700" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF"  style="margin-top:0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;">
<tr>
<td width="235" height="20" valign="middle" style="padding-top: 10px; padding-right: 0; padding-bottom: 0; padding-left: 15px; font-family:Arial, Helvetica, sans-serif; font-size:12px;">SNP6545434</td>
<td width="135" height="20" valign="middle" style="padding-top: 10px; padding-right: 0; padding-bottom: 0; padding-left: 0; font-family:Arial, Helvetica, sans-serif; font-size:12px;">171707</td>
<td width="130" height="20" valign="middle" align="right" style="padding-top: 10px; padding-right: 45px; padding-bottom: 0; padding-left: 0; font-family:Arial, Helvetica, sans-serif; font-size:12px;">$215</td>
<td width="125" height="20" valign="middle" style="padding-top: 10px; padding-right: 15px; padding-bottom: 0; padding-left: 0; font-family:Arial, Helvetica, sans-serif; font-size:12px;">May-04-2017</td>
</tr>
</table>
</td>
</tr>
</tbody>
<tbody>
 <tr>
<td valign="top" align="center" style="padding-top: 10px; padding-bottom: 6px">
<table width="670" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="margin-top:0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; border-top: 1px solid #CCCCCC;">
<tr>
<th width="502" height="30" valign="middle" align="right" style="padding-top: 5px; padding-right: 0; padding-bottom: 0; padding-left:0;font-family:Arial, Helvetica, sans-serif;font-size: 14px;">Total Claim:</th>
<th width="43" height="30" valign="middle" align="right" style="padding-top: 5px; padding-right: 0; padding-bottom: 0; padding-left:0;font-family:Arial, Helvetica, sans-serif;font-size: 14px;">&nbsp;</th>
<th width="125" height="30" valign="middle" align="left" style="padding-top: 5px; padding-right: 0; padding-bottom: 0; padding-left: 0;font-family:Arial, Helvetica, sans-serif;font-size: 14px;color: #6a4b92;">$215</th>
</tr>
</table>
</td>
</tr>
</tbody>
</table>
</td>
 </tr>
 <tr>
<td bgcolor="#FFFFFF" width="700" valign="top" style="padding-left: 0;padding-right: 0;padding-bottom: 0;padding-top: 0; padding-left:20px;padding-top: 22px; padding-right:20px;font-family:Arial, Helvetica, sans-serif;font-size: 12px;">If you have already scheduled a payment with us, you may please disregard this letter.</td>
</tr>
<tr>
<td  bgcolor="#FFFFFF" width="700" height="25">&nbsp;</td>
</tr>
<tr>
<td  bgcolor="#FFFFFF" width="700" height="22" valign="top" style=" padding:0; padding-left:20px; padding-right:20px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">
 Best regards,
 </td>
</tr>
<tr>
<td  bgcolor="#FFFFFF" width="700" height="22" valign="top" style=" padding:0; padding-left:20px; padding-right:20px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;">
 MedChemExpress Sales Team
 </td>
</tr>
<!--contact_us-->
<tr>
<td  bgcolor="#FFFFFF" width="482" valign="top" style="  padding:0; padding-left:20px; padding-right:20px;"><table width="482" cellpadding="0" cellspacing="0" style="margin: 0px 0px 0px 2px; padding:0;border-top:15px solid #FFF; border-bottom:18px solid #FFF;">
<tbody>
<tr>
<td width="1" height="52" valign="top"></td>
<td width="482" height="52" valign="top"><table width="482" cellpadding="0" cellspacing="0" style="margin:0; padding:0;">
<tbody>
 <tr>
 <td height="10" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:12px; color:#333;  "></td>
 </tr>
<tr>
 <td height="25" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:12px; color:#333; "> MedChemExpress USA  </td>
 </tr>
 <tr>
<td height="1" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; margin:0; padding: 0px 0px 7px; border-top:1px solid #CCC;font-size:0px; ">1233</td>
 </tr>
<tr>
<td valign="middle" height="22"><table width="541" cellpadding="0" cellspacing="0" style="margin:0; padding:0; border:0;">
<tbody>
<tr>
 <td valign="middle" height="22" width="140" style=" font-family:Arial, Helvetica, sans-serif;font-size:12px; color:#333;"><span style="font-weight:bold;">Tel:</span> 609-228-6898 </td>
<td valign="middle" height="22" width="130" style=" font-family:Arial, Helvetica, sans-serif;font-size:12px; color:#333;"><span style="font-weight:bold;">Fax:</span>  609-228-5909</td>
<td valign="middle" height="22" width="210" style=" font-family:Arial, Helvetica, sans-serif;font-size:12px; color:#333;text-align:right"><span style="font-weight:bold;">E-mail:</span> sales@MedChemExpress.com </td>
</tr>
 </tbody>
  </table></td>
  </tr>
 <tr>
 <td height="15" valign="bottom" style="font-family:Arial, Helvetica, sans-serif;font-size:12px; color:#333;"><span style="font-weight:bold;">Address:</span> 1 Deer Park Dr, Suite Q, Monmouth Junction, NJ 08852, USA</td>
 </tr>
 </tbody>
</table></td>
</tr>
</tbody>
</table></td>
</tr>
<!--footer-->
<tr>
 <td align="center" bgcolor="#f6f4f5">
<table width="700" cellpadding="0" cellspacing="0" style="margin:0; padding:0;">
 <tbody>
<tr><td height="20">&nbsp;</td></tr>
 <tr>
   <td valign="top" align="center" style=" padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#6a4b92; line-height:21px; text-align:center;">Products are chemical reagents for research use only and are not intended for human use. We do not sell to patients.</td>
</tr>
 <tr><td height="12" style="height:12px; font-size:1px;">&nbsp;</td></tr>
 <tr>
  <td valign="top" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#999999; line-height:21px; text-align:center;">This e-mail transmission is a confidential, private, and legally privileged communication intended solely for the use of the addressed party. Unauthorized use of this communication and any files transmitted with it is prohibited and is unlawful. If you have received this e-mail in error, please notify the sender and delete it immediately.
  </td>
 </tr>
 <tr><td height="12" style="height:12px; font-size:1px;">&nbsp;</td></tr>
 <tr>
<td valign="top" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#999999; line-height:21px; text-align:center;">*** This message was automatically generated by our system. If you have any questions about this letter or the services you have received through us, please contact us at <a href="mailto:sales@medchemexpress.com" target="_blank" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ff6600; text-decoration:none; ">sales@MedChemExpress.com</a>.
 </td>
</tr>
 </tbody>
 </table>
</td>
 </tr>
</tbody>
</table>
<!--Container end-->
</td>
</tr>
</tbody>
</table>
